@use 'variables';
@use 'mixins';

.modal-navbar{
    //display: none;
    &__background{
        @include mixins.modal-background;
    }
    background-color: variables.$White;
    width: 250px;
    padding: 28px 24px;
    height: 100%;

    &__items{
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
        list-style: none;
        margin-top: 50px;
    }

    &__link{
        text-decoration: none;
        color: variables.$Very_dark_blue;
        font-weight: 700;
        font-size: 1.1em;
    }

    &__cose-icon{
        &:hover{
            cursor: pointer;
        }
    }
}